.championMainContainer{
	background-color: #F8F8FA;
	padding-top: 15px;
	padding-bottom: 50px;
	min-height: 790px;

	.championImageContainer{
		width: 100%;
		height: 500px;
		background: top no-repeat;
		background-size: cover;
	}

	.championStatsContainer{
		width: 100%;
		text-align: center;

		.statsContent{
			width: 40%;
			display: inline-block;
			padding-top: 10px;

			.statsContentTitle{
				font-weight: bold;
				font-size: 15px;
			}

			.topSectionScores{
				margin-top: 10px;
				margin-bottom: 20px;
			}

			.bottomSectionScores{

			}

			.statsContentScores{
				display: inline-block;
				margin-right: 20px;
			}
		}
	}
}