.homeMainContainer{
	background-color: gray;
	margin: auto;

	.searchBarContainer{
		width: 350px;
		margin: auto;

		.searchBar{
			width: 55%;
			display: inline-block;
			margin-right: 5px;

			.searchBarHelperText{
				display: inline !important;
			}
		}

		.regionSelect{
			height: 34px;
			margin-right: 5px;
		}

		.summonerSearchBtn{
			display: inline-block;
			margin-top: 0px;
			vertical-align: top;
			background-color: #535E70;
			color: white;
		}

		.searchBarHelperText{
			color: blue;
		}
	}
}