.homeMainContainer{
	background-color: gray;

	.searchBarContainer{
		width: 350px;
		margin: auto;

		@media (max-width: 700px) {
			width: 100%;
			text-align: center;
		}

		.searchBar{
			width: 55%;
			display: inline-block;
			margin-right: 5px;

			.searchBarHelperText{
				display: inline !important;
			}
		}

		.regionSelect{
			height: 34px;
			margin-right: 5px;
		}

		.summonerSearchBtn{
			display: inline-block;
			margin-top: 0px;
			vertical-align: top;
			background-color: #535E70;
			color: white;
		}

		.searchBarHelperText{
			color: blue;
		}
	}
}

//Champion Grid styles
.championPortraitContainer{
	display: inline-block;

	.championContentDisabled{
		pointer-events: none;

		.championImage{
			opacity: 0.5;
		}
	}
}

.gridContainer{
	text-align: center;
}